ul {
	list-style: none;
	font-size: 14 px;
	line-height: 1.5;
}

#resultfield ul {
	max-width: 610;
}

#resultfield li {
	display: inline;
	width: 110px;
	float: left;
    padding-left: 8px;
    margin: 1px 1px 8px 1px;
    background-color: #eee;
}

#removeemployee {
	float: left;
	margin-right: 400px;
}

#totaltracker {
	display: inline;
	margin-left: 4;
	font-size: 18px;
	color: #cc3300;
}

#expenditure {
	display: inline;
	margin-left: 39px;
}